<div class="navBar">
  <div class="container" style="text-align:center;color:white;">
    <div class="row">
      <div class="col-12">
        <h1>Courses</h1>
      </div>
    </div>
  </div>
  <hr style="display: block; height: 1px;
border: 0; border-top: 1px solid #ffffff;
margin: 1em 0; padding: 0;">
  <div class="container" style="text-align:center;color:white;">
      <a href="/dashboard?page=teacher" style="text-decoration:none;color:white;">
        <div class="row ">
          <div class="col-12">
            Teachers List
          </div>
        </div>
      </a>
      <hr style="display: block; height: 1px;
    border: 0; border-top: 1px solid #ffffff;
    margin: 1em 0; padding: 0;">
    <div class="container" style="text-align:center;color:white;">
        <a href="/dashboard?page=student" style="text-decoration:none;color:white;">
          <div class="row ">
            <div class="col-12">
              Student List
            </div>
          </div>
        </a>
        <hr style="display: block; height: 1px;
      border: 0; border-top: 1px solid #ffffff;
      margin: 1em 0; padding: 0;">
      <div class="container" style="text-align:center;color:white;">
          <a href="/dashboard?page=course" style="text-decoration:none;color:white;">
            <div class="row ">
              <div class="col-12">
                Course List
              </div>
            </div>
          </a>
          <hr style="display: block; height: 1px;
        border: 0; border-top: 1px solid #ffffff;
        margin: 1em 0; padding: 0;">
        <div class="container" style="text-align:center;color:white;">
            <a href="/link" style="text-decoration:none;color:white;">
              <div class="row ">
                <div class="col-12">
                  Link A Course
                </div>
              </div>
            </a>
            <hr style="display: block; height: 1px;
          border: 0; border-top: 1px solid #ffffff;
          margin: 1em 0; padding: 0;">
          <div class="container" style="text-align:center;color:white;">
              <a href="/course" style="text-decoration:none;color:white;">
                <div class="row ">
                  <div class="col-12">
                    Add Course
                  </div>
                </div>
              </a>
              <hr style="display: block; height: 1px;
            border: 0; border-top: 1px solid #ffffff;
            margin: 1em 0; padding: 0;">
  </div>
  <div class="show">
    NavBar
  </div>
</div>
