<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Link Courses</title>
    <link rel="stylesheet" href="../assets/css/auth.css">
    <link rel="stylesheet" href="../assets/css/list.css">
    <link rel="stylesheet" href="../assets/bootstrapcss/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../assets/images/logo.jpg">
  </head>
  <body>
    <%- include partials/authBackground.ejs %>
    <div class="authCard">
      <img class="logo" src="../assets/images/logo.jpg" alt="" width="50%" height="auto">
      <h2 class="card-heading">Link Course</h2>
      <hr>
      <form action="/link" method="post">
        <div class="container">
          <label for="tid"><b>Teacher ID</b></label>
          <input type="text" placeholder="Enter Teacher ID" name="tid" required>

          <label for="cid"><b>Course ID</b></label>
          <input type="text" placeholder="Enter Course ID" name="cid" required>

          <button type="submit" class="submitBut">Link Course</button>
        </div>
      </form>
    </div>
    <%- include partials/adminNav.ejs %>
    <div class="preloader">
      <div class="loader"></div>
    </div>
  </body>
</html>
