<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register As A Teacher</title>
    <link rel="stylesheet" href="../assets/css/auth.css">
    <link rel="stylesheet" href="../assets/bootstrapcss/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../assets/images/logo.jpg">
    <script type="text/javascript" src="../assets/js/dob.js"></script>
  </head>
  <body>
    <%- include partials/authBackground.ejs %>
    <div class="authCard">
      <img class="logo" src="../assets/images/logo.jpg" alt="" width="50%" height="auto">
      <h2 class="card-heading">Register</h2>
      <hr>
      <form action="/auth/registerTeacher" method="post">
        <div class="container">
          <label for="id"><b>ID</b></label>
          <input type="text" placeholder="Enter Your ID" name="id" required>

          <label for="fname"><b>First Name</b></label>
          <input type="text" placeholder="Enter First Name" name="firstname" required>

          <label for="lname"><b>Last Name</b></label>
          <input type="text" placeholder="Enter Last Name" name="lastname" required>

          <label for="contact"><b>Contact</b></label>
          <input type="number" placeholder="Enter Your Contact Number" name="contact" required>

          <label for="email"><b>Email</b></label>
          <input type="email" placeholder="Enter Your Email" name="email" required>

          <div class="dob">
            <label for="email"><b>Date Of Birth</b></label>
            <select name="day" id="day" onload="setDays()"></select>
            <select name="month" id="month" onload="setMonths()"></select>
            <select name="year" id="year" onload="setYears()"></select>
          </div>

          <label for="des"><b>Designation</b></label>
          <input type="text" placeholder="Enter Your Designation" name="designation" required>

          <label for="dept"><b>Department</b></label>
          <input type="text" placeholder="Enter Your ID" name="department" required>

          <label for="dept"><b>Year Of Joining</b></label>
          <input type="number" placeholder="Enter Your Year Of Joining" name="joining" required>

          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>

          <button type="submit" class="submitBut">Register</button>
        </div>
      </form>
    </div>
    <div class="preloader">
      <div class="loader"></div>
    </div>
  </body>
</html>
