
/*#################################### Cinzel ##################################*/

@font-face {
  font-family: 'Cinzel-Black';
  src: url(../fonts/Cinzel/Cinzel-Black.ttf);
}

@font-face {
  font-family: 'Cinzel-Bold';
  src: url(../fonts/Cinzel/Cinzel-Bold.ttf);
}

@font-face {
  font-family: 'Cinzel-Regular';
  src: url(../fonts/Cinzel/Cinzel-Regular.ttf);
}

/*#################################### KaushanScript ##################################*/

@font-face {
  font-family: 'KaushanScript';
  src: url(../fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}

/*#################################### Lora ##################################*/

@font-face {
  font-family: 'Lora-Bold';
  src: url(../fonts/Lora/Lora-Bold.ttf);
}

@font-face {
  font-family: 'Lora-Regular';
  src: url(../fonts/Lora/Lora-Regular.ttf);
}

/*#################################### MrDafoe ##################################*/

@font-face {
  font-family: 'MrDafoe';
  src: url(../fonts/Mr_Dafoe/MrDafoe-Regular.ttf);
}
